@page
@model UAInnovate.Pages.OfficeSupplyRequests.CreateModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@using UAInnovate.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "Create";
}

@{
    var isAdmin = false;
    var isUser = false;
    if (User.Identity.IsAuthenticated)
    {
        var user = await UserManager.GetUserAsync(User);
        var username = user.Email;
        var userModel = await _context.UserModels.FirstAsync(u => u.Username == username);
        if (userModel.permissons.Contains("Admin"))
        {
            isAdmin = true;
        }
        if (userModel.permissons.Contains("User"))
        {
            isUser = true;
        }
    }
    //var isAdmin = user != null && await UserManager.IsInRoleAsync(user, "Admin");
}

<h1>Create</h1>

<h4>OfficeSupplyRequests</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group"> *@
            @*     <span class="text-danger">*</span> *@
            @*     <label asp-for="OfficeSupplyRequests.Date" class="control-label"></label> *@
            @*     <input asp-for="OfficeSupplyRequests.Date" class="form-control" /> *@
            @*     <span asp-validation-for="OfficeSupplyRequests.Date" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="OfficeSupplyRequests.Type" class="control-label"></label>
                <select asp-for="OfficeSupplyRequests.Type" class="form-control">
                    @foreach (var role in Enum.GetValues(typeof(UAInnovate.Models.OfficeSupplyTypes)))
                    {
                        <option value="@role">@role</option>
                    }
                </select>
                <span asp-validation-for="OfficeSupplyRequests.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="OfficeSupplyRequests.ItemName" class="control-label"></label>
                <input asp-for="OfficeSupplyRequests.ItemName" class="form-control" />
                <span asp-validation-for="OfficeSupplyRequests.ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="OfficeSupplyRequests.CurrStock" class="control-label"></label>
                <select asp-for="OfficeSupplyRequests.CurrStock" class="form-control">
                    @foreach (var role in Enum.GetValues(typeof(UAInnovate.Models.CurrStockTypes)))
                    {
                        <option value="@role">@role</option>
                    }
                </select>
                <span asp-validation-for="OfficeSupplyRequests.CurrStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="OfficeSupplyRequests.AdditionalInfo" class="control-label"></label>
                <input asp-for="OfficeSupplyRequests.AdditionalInfo" class="form-control" />
                <span asp-validation-for="OfficeSupplyRequests.AdditionalInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="OfficeSupplyRequests.Priority" class="control-label"></label>
                <select asp-for="OfficeSupplyRequests.Priority" class="form-control">
                    @foreach (var role in Enum.GetValues(typeof(UAInnovate.Models.PriorityTypes)))
                    {
                        <option value="@role">@role</option>
                    }


                </select>
                <span asp-validation-for="OfficeSupplyRequests.Priority" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <span class="text-danger">*</span> *@
            @*     <label asp-for="OfficeSupplyRequests.Status" class="control-label"></label> *@
            @*     <select asp-for="OfficeSupplyRequests.Status" class="form-control"></select> *@
            @*     <span asp-validation-for="OfficeSupplyRequests.Status" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (isAdmin)
    {
        <a asp-page="Index">Back to List</a>
    }
    else
    {
        <a asp-area="" asp-page="/WorkerHome">Back to List</a>
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
