@page
@model UAInnovate.Pages.Suggestions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Suggestions[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suggestions[0].SuggestionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suggestions[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suggestions[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suggestions[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suggestions[0].OfficeLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Suggestions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuggestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeLocation)
            </td>
            <td>
                    <form method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" asp-page-handler="Reject" class="btn btn-primary">
                            Reject
                        </button>
                    </form>
                    <form method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" asp-page-handler="Complete" class="btn btn-primary">
                            Completed
                        </button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
