@page
@model UAInnovate.Pages.UserModels.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserModels[0].ForeignId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserModels[0].DayAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserModels[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserModels[0].permissons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserModels[0].WorkLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserModels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ForeignId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.permissons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkLocation)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
